header {
    text-align: center;
    color: #F0EFED;
    padding: 5%;
    font-size: larger;
}

header img {
       width: 33%;
}

html {
   background-color:#0D0D0D;
   
}

h1,
h2,
h3
{
color:#F0EFED;
font: 1.2em "Fira Sans", sans-serif;
text-align: center;
border: #9c9c9c 2px solid;

}


h4 {
   color: #F0EFED;
   font-size: larger;
   font: 1.2em "Fira Sans", sans-serif;
   font: italic 1.2em "Fira Sans", serif;
   text-align: center;
   
}

p {
 color: #F0EFED;
}

aside {
   color: #F0EFED;
}

img {
   width: 100%;
   
   
   
}

body{
   background-color: #000000;
}
a {
   color: #000000;
   text-decoration: none;
}
footer {
   color: #208FBD;
   text-align:center
}

nav {
   background-color: #000000;
   text-decoration: none;
   margin: 10px;
   color: #208FBD;
   text-align: center;
}

nav ul{
   padding: 10px;
   list-style-type: none;
}
nav li{
   display: inline-block;
   

}
nav li a{
       display:block;
       background-color:#F0EFED ;
       width: 200px;
       height: 40px;
       line-height: 40px;
       font-size:medium;
       border: #9c9c9c solid 4px;
       border-style: groove;
       border-radius: 6px;
       
}

main{
   display: flex;
}
section,
aside{
   border: #208FBD 2px solid;
   margin: 20px;
   padding: 20px;
   border-style: groove;
   
   
}

section{
   width: 100%;
   text-align: center;
   margin: auto;
}
aside{
   width: 10%;
}

.single_page {
       width: 50%;
}

#main_img_resize {
               width: 100%;
}

#lower_area{
   display: flex;
}

.col{
   border: 2px solid #F0EFED;
   margin: 20px;
   padding: 20px;
   border-radius: 5px;
   text-align: center;
}

footer {
   background-color: #208FBD;
   text-align: center;
   padding: 40px; 
   color: #000000;
   font-weight: bolder;
}

.button {
   display: block;
   width: 150px;
   height: 15px;
   line-height: 15px;
   background-color: #F0EFED;
   color: #0D0D0D;
   text-decoration: #d6d6d6;
   text-align:center;
   padding: 8px;
   margin: 8px;
   border: 4px solid #979393;
   border-radius: 25px;
   border-style: groove;
}

.button:hover {
       background: #208FBD;
       border-color: #000000;
}

table {
   border-color: #ffffff;
   border-style: groove;
   padding: 15px;
   margin: 10px;
   text-align: center;
   
}

tr,td {
   width: 100%;
   border: 1px solid #208FBD;
   padding: 15px;
   margin: 15px;

}

td{
   width:50%;
}

tr{
   width: 40%;
}